:root {
  --bgBlack: #202124;
  --bgGreen: #209F56;
  --fgWhite: #F2F2F2;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

body {
  background-color: var(--bgBlack);
}

main {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100vh;
}

main>section {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

main>section:first-child {
  background-color: initial;
}

.decorative {
  background-color: var(--bgGreen);
}

section.main-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

p.small-info {
  width: 604px;
  height: 104px;
  display: flex;
  justify-content: end;
  align-items: end;
}

a,
a:visited,
a:hover {
  color: var(--fgWhite);
  text-decoration: none;
}